@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my ТЗ for Directum</h1>
</div>
<div>
    <h4>Загрузка json файла</h4>
    <form asp-controller="Home" asp-action="FileUpload"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Загрузить</button>
    ></form>
</div>