@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dropzone Example ASP.NET Core.</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="../dropzone/dist/min/dropzone.min.css" rel="stylesheet">
</head>
<body>
    <h1>Privet</h1>
</body>
</html>